# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/mapfiles
# dependencies
/node_modules
/docs
# IDEs and editors
/.idea
.idea
.project
.classpath
.c9/
.history/*
.editorconfig
proxy.conf.json

*.launch
.settings/
*.sublime-workspace
package-lock.json
proxy.conf.json
/proxy.conf.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
proxy.conf.json
# e2e
/e2e/*.js
/e2e/*.map
/mapfiles

build/static
# System Files
.DS_Store
Thumbs.db

# lint
/lint
